*.log
*.yml
*.DS_Store
*.zip
*.sqlite
*.sql

slave/tmp_files/
slave/config/database.yml
api/script/*
front-end/public/images/0000/*
front-end/public/files/source_data/*
front-end/vendor/plugins/newrelic_rpm/*
*/config/initializers/secret_token.rb
*/config/initializers/omniauth.rb
!*/config/initializers/secret_token.rb.example
!*/config/initializers/omniauth.rb.example
*/public/assets/*
*/public/css/*
*/public/js/*
