<h1><%= @analysis_metadata.function %> (for Curation <%= @analysis_metadata.curation.name %>)</h1>
<script type="text/javascript"> 
  var wrapper;

  function init() {
    wrapper = new google.visualization.ChartWrapper({
      dataSourceUrl: "http://internetsize.devingaffney.com/com/compounded.json",
      containerId: 'graphDraw',
      chartType: 'LineChart',
      options: {title: 'Overview', titleX: 'Length', titleY: 'Average', height: 500, width:915, is3D: true, curveType: "function", Vaxis: {minValue: 0.0}}
    });
    wrapper.draw();
  }    

  google.setOnLoadCallback(init);

</script>