<h1>Worker: <%= @worker_description.name %></h1>
Type: <%= @worker_description.type %><br />
Active: <%= @worker_description.active ? "Yes" : "No" %><br />
Description: <br />
<%= @worker_description.description %>