.controls
  label.control-label Terms To Track (For this field, simply put in all the terms you want to track, separated by commas.
  = text_field_tag :params, params[:params], :class => "input-xlarge comma-separated-input required", required: true
